<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/pages/styles/home.css}">
</head>
<body>
<div th:replace="_header :: content"></div>
<div class="container">
    <div class="row mt-2">
        <!--        <nav style="&#45;&#45;bs-breadcrumb-divider: '>';" aria-label="breadcrumb">-->
        <!--            <ol class="breadcrumb">-->
        <!--                <li class="breadcrumb-item"><a href="#">Home</a></li>-->
        <!--                <li class="breadcrumb-item active" aria-current="page">Library</li>-->
        <!--            </ol>-->
        <!--        </nav>-->
    </div>
    <div class="row mt-3">
        <div class="col-sm-3 mb-2">
            <p><a class="btn btn-primary w-100 d-flex align-items-center justify-content-between"
                  data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                  aria-controls="collapseExample"> <span class="fas fa-bars"><span
                    class="ps-3">Categories</span></span> <span class="fas fa-chevron-down"></span> </a></p>
            <ul class="list-group" th:each="category,iter:${session.categoryList}">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a class="dropdown-item" th:href="@{/product/category(id=${category.id})}">
                        <span th:text="${category.name}"></span>
                    </a>
                    <!--                    <span class="badge bg-primary rounded-pill" th:text="${productList.size(category.id)}">14</span>-->
                </li>
            </ul>
        </div>
        <div class="col-sm-9 mb-2">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col" th:each="product:${productList}">
                    <div class="card h-100">
                        <img th:src="${product.urlImage}" class="rounded mx-auto d-block mt-1" style="max-width: 50%"
                             alt="...">
                        <div class="card-body">
                            <a th:href="@{/product/product(id=${product.id})}"><h6 class="card-title"
                                                                                   th:text="${product.model}"></h6></a>
                            <p class="card-text" th:text="${product.description}"></p>
                        </div>
                        <div class="row p-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex flex-column">
                                    <span class="text-muted rebate" th:utext="${product.price}"></span>
                                </div>
                                <form action="#"
                                      th:action="@{/basket/saveInBasket(id=${product.id})}"
                                      method="get">
                                    <input type="submit" class="btn btn-primary"
                                           value="Buy now"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<div class="d-flex align-items-center product"><span
        class="fas fa-star"></span>
    <span class="fas fa-star"></span> <span class="fas fa-star"></span>
    <span
            class="fas fa-star"></span> <span
            class="far fa-star"></span>
</div>
