<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<form action="#" th:action="@{/}" th:object="${user}" method="post">
    <input type="text" th:field="*{email}" placeholder="email">

    <input type="text" th:field="*{password}" placeholder="password">

    <input type="text" th:field="*{firstName}" placeholder="firstName">

    <input type="text" th:field="*{lastName}" placeholder="lastName">

    <input type="text" th:field="*{phoneNumber}" placeholder="phoneNumber">
    <button>Submit</button>
</form>

<form action="#" th:action="@{/}" th:object="${category}" method="post">
    <input type="text" th:field="*{name}" placeholder="name">
    <button>Submit</button>
</form>
<form action="#" th:action="@{/}" th:object="${descFeature}" method="post">
    <input type="text" th:field="*{}" placeholder="name">
    <button>Submit</button>
</form>
</body>
</html>