<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
<div th:replace="_header :: content"></div>
<div class="container">
    <div class="row mt-3">
        <div class="col" th:if="${newProduct==null}">
            <form th:action="@{/admin/chose_category}" th:object="${newCategory}" th:method="post">
                <select name="id" class="form-select" aria-label="Default select example">
                    <option selected>Выберите категорию</option>
                    <th:block th:each="category:${categoryList}">
                        <option th:value="${category.id}" th:text="${category.name}"></option>
                    </th:block>
                </select>
                <div class="mt-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>


        <div th:if="${id!=null}">
<!--            <div th:if="${existByModel}!=null" class="alert alert-warning" role="alert">-->
<!--                Product exist!-->
<!--            </div>-->
            <form th:action="@{/admin/add_product}" th:object="${newProduct}" th:method="post">
                <div class="row g-3 align-items-center">
                    <input class="form-control" th:field="*{categoryId}" th:value="*{categoryId}" type="text">
                    <div class="col-auto">
                        <label th:for="inputModel" class="col-form-label">Модель</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="inputModel" th:field="*{model}" class="form-control">
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="brand" class="col-form-label">Брэнд</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="brand" th:field="*{brand}" class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="description" class="col-form-label">Описание</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="description" th:field="*{description}" class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="marketLaunchDate" class="col-form-label">Год выпуска</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="marketLaunchDate" th:field="*{marketLaunchDate}"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="urlImage" class="col-form-label">Ссылка на фото</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="urlImage" th:field="*{urlImage}" class="form-control">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>


        <div th:if="${savedProduct!=null}">
            <form th:action="@{/admin/add_product_description}" th:method="post">
                <p th:text="${savedProduct.model}"></p>
                <div class="row g-3 align-items-center mt-2" th:each="descfeature:${descriptionFeatureList}">
                    <div class="mb-3">
                        <span th:text="${descfeature.name}"></span>
                        <select th:name="idArray" >
                            <option  th:each="val:${descfeature.descriptionFeatureValues}" th:value="${val.id}" th:text="${val.name}"></option>
                        </select>
                    </div>
                </div>
                <input th:name="productId" th:value="${savedProduct.id}" hidden type="text">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>

        <div class="col">
        </div>
    </div>
</div>
</body>
</html>