<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
<div th:replace="_header :: content"></div>
<div class="container">
    <div class="row mt-3">
        <div class="col" th:if="${newProduct==null}">
            <form th:action="@{/admin/chose_category}" th:object="${newCategory}" th:method="post">
                <select name="id" class="form-select" aria-label="Default select example">
                    <option disabled>Выберите категорию</option>
                    <th:block th:each="category:${categoryList}">
                        <option th:value="${category.id}" th:text="${category.name}"></option>
                    </th:block>
                </select>
                <div class="mt-2">
                    <button type="submit" class="btn btn-primary">Выбрать</button>
                </div>
            </form>
        </div>


        <div th:if="${id!=null}">
            <div class="row">
                <h5>Добавление товара</h5>
            </div>
            <form th:action="@{/admin/add_product}" th:object="${newProduct}" th:method="post">
                <div class="row g-3 align-items-center">
                    <input hidden class="form-control" th:field="*{categoryId}" th:value="*{categoryId}" type="text">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Наименование характеристики</th>
                            <th scope="col">Значение</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><label for="inputModel" class="col-form-label">Модель</label></td>
                            <td><input type="text" id="inputModel" th:field="*{model}" class="form-control"></td>
                        </tr>
                        <!--                        <div id="emailHelp" class="form-text">-->
                        <!--                            <p th:if="${#fields.hasErrors('email')}" style="color: red" th:errors="*{email}"></p>-->
                        <!--                            <p th:if="${messageUser == true}" style="color:red">Email is empty</p>-->
                        <!--                        </div>-->
                        <tr>
                            <td><label for="brand" class="col-form-label">Брэнд</label></td>
                            <td><input type="text" id="brand" th:field="*{brand}" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="description" class="col-form-label">Описание</label></td>
                            <td><input type="text" id="description" th:field="*{description}" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="marketLaunchDate" class="col-form-label">Год выпуска</label></td>
                            <td><input type="number" id="marketLaunchDate" th:field="*{marketLaunchDate}"
                                       class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="urlImage" class="col-form-label">Ссылка на фото</label></td>
                            <td><input type="url" id="urlImage" th:field="*{urlImage}" class="form-control"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>


        <div class="row g-3 align-items-center" th:if="${savedProduct!=null}">
            <form th:action="@{/admin/add_product_description}" th:method="post">
                <div class="row">
                    <h5 th:text="${savedProduct.model}"></h5>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Наименование характеристики</th>
                        <th scope="col">Значение</th>
                    </tr>
                    </thead>
                    <tbody th:each="descfeature:${descriptionFeatureList}">
                    <tr>
                        <td>
                            <label for="inputModel" class="col-form-label" th:text="${descfeature.name}">Модель</label>
                        </td>
                        <td>
                            <select th:name="idArray">
                                <option th:each="val:${descfeature.descriptionFeatureValues}" th:value="${val.id}"
                                        th:text="${val.name}"></option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <input th:name="productId" th:value="${savedProduct.id}" hidden type="text">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>

        <div class="col">
        </div>
    </div>
</div>
</body>
</html>