<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
</head>
<body>
<div th:replace="_header :: content"></div>
<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-sm-4">
            <form action="#" th:action="@{/admin/authorizationAdmin}" th:object="${admin}" th:method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" th:field="*{email}" placeholder="Email"
                           aria-describedby="usernameHelp" required/>
                    <div id="emailHelp" class="form-text">
                        <p th:if="${#fields.hasErrors('email')}" style="color: red" th:errors="*{email}"></p>
                        <p th:if="${messageEmail == true}" style="color:red">No such email exists</p>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" th:field="*{password}" placeholder="Password"
                           aria-describedby="passwordHelp" required/>
                    <div id="passwordHelp" class="form-text">
                        <p th:if="${messagePassword == true}" style="color:red">Wrong password</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-5">
                        <button type="submit" class="btn btn-primary">Sing in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>