<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <title>Category</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:replace="_header :: content"></div>
<div class="container">
    <div class="row mt-3">
        <div class="col-sm-3 sidenav">
            <h4>Filters</h4>
        </div>
        <div class="col-sm-9">
            <div class="row" th:each="product,iter:${productList}">
                <div class="col-8 col-sm-2">
                    <div class="col-md-3 mt-1">
                        <a th:href="@{/product/product(id=${product.id})}"><img class="rounded mx-auto d-block"
                                                                                style="max-width: 100px;max-height: 130px"
                                                                                th:src="${product.urlImage}"></a>
                    </div>
                </div>
                <div class="col-8 col-sm-8">
                    <a th:href="@{/product/product(id=${product.id})}"><h5 th:text="${product.model}"></h5></a>
                    <h5><span class="glyphicon glyphicon-time" th:text="${product.marketLaunchDate}"></span></h5>
                    <form th:action="@{/product/search}" th:method="get">
                        <h7><span><button class="btn btn-primary btn-sm btn btn-danger" type="submit" th:name="searchProduct" th:value="${product.brand}"
                                      th:text="${product.brand}"></button></span>
                        <span><button class="btn btn-primary btn-sm btn btn-primary" type="button" disabled
                                          th:text="${product.averageRating}"></button></span>
                        </h7>
                    </form>
                    <br><br>
                    <p th:text="${product.description}"></p>
                    <br><br>

                </div>
                <div class="col-4 col-sm-2 align-items-center align-content-center border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1" th:text="${product.price}"></h4>
                    </div>
                    <div class="d-flex flex-column mt-3">
                        <button class="label label-primary" type="button">35 предложений</button>
                    </div>
                </div>
                <hr>
            </div>

        </div>
    </div>
</div>
</body>
</html>