<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<div th:replace="_header :: content"></div>
<div class="container">
    <div class="col-sm-12 pt-5">
        <div class="row">
            <div class="col col-sm-8">
                <div class="row style=" style="min-height: 250px;">
                    <div class="col col-lg-4">
                        <img class="rounded mx-auto d-block" style="max-width: 100px;max-height: 130px"
                             th:src="${product.urlImage}" alt="">
                    </div>
                    <div class="col col-lg-8">
                        <h5 th:text="${product.model}"></h5>
                        <p th:text="${product.description}"></p>
                        <div>
                            <h6 class="card-title" th:text="${product.price}"></h6>
                            <button type="button" class="btn btn-primary btn-sm">Все предложения</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h5>Характеристики</h5>
                </div>
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Наименование характеристики</th>
                            <th scope="col">Значение</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Бренд</td>
                            <td th:text="${product.brand}"></td>
                        </tr>
                        <tr>
                            <td>Дата выхода на рынок</td>
                            <td th:text="${product.marketLaunchDate}"></td>
                        </tr>
                        <tr th:each="description:${product.descriptionFeatureValues}">
                            <td th:text="${description.descriptionFeature.name}"></td>
                            <td th:text="${description.name}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="row">
                    <div class="col-sm-6">
                        <h6 class="card-title" th:text="${product.price}"></h6>
                        <button type="button" class="btn btn-primary btn-sm">Купить</button>
                    </div>
                    <div class="col-sm-6 m-auto">
                        <h5>Agroup</h5>
                    </div>
                </div>

                <div class="row justify-content-md-center mt-5">
                    <button type="button" class="btn btn-primary btn-sm">Все предложения</button>
                </div>
                <div class="row justify-content-md-start mt-2">
                    <p class="card-text"><small class="text-muted">Приведенные предложения продавцов являются рекламной
                        информацией и их приглашением делать оферты. При покупке всегда запоминайте полное наименование
                        юридического лица или индивидуального предпринимателя. Обязательно уточняйте комплект поставки,
                        цвет
                        товара и иную информацию в процессе заказа.
                        Проблемы с наличием или ценой? Хотите пожаловаться или похвалить продавца? Вы можете оставить
                        отзыв
                        на
                        странице магазина!</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>